<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Visio</string>
    <key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.9</string>
	<key>CFBundleVersion</key>
	<string>12</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>In order to show yourself, please accept the camera permission</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>In order to speak in the conferences, please accept the microphone permission</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>voip</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSContactsUsageDescription</key>
	<string>In order to display you participants you may know, we need to have access to your local contacts information. Without this access granted, we won&apos;t be able to corrolate them but you will still be able to use the app.</string>
	<key>NSMotionUsageDescription</key>
	<string>In order to be able to check the environmental information which will lead to a better user experience, having access to motion information will help pre-determined the best in app behaviour for the audio and video quality</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Granting us the location while you use this app will help make sure that we can tune and configure the room&apos;s quality wherever you are. Not granting this will still give you access to the features</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>In order to integrate your bluetooth&apos;s surrounding and bluetooth capable devices with room&apos;s connectivity, we need your permission to have access to them. Without this permission, you&apos;ll still be able to use the app.</string>
</dict>
</plist>
